
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(71, 71, 97);
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.logo{
    color: white;
    font-size: 2rem;
    font-weight: bold;
    font-family: sans-serif;
}
.logo:hover{
    color: blue;
    cursor: pointer;
}
ul{
    width: 50%;
    display: flex;
    justify-content: space-between;
    color: white;
    font-weight: bold;
}
li:hover{
    cursor: pointer;
    color: blue;
}

main{
    width: 100vw;
    background-color: rgb(64, 29, 5);
}
img{
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
}